{% extends "base.html" %}
{% block content %}

{% for person in people %}
<section class="b-filter-section">
  <div class="row">
    <div class="column large-12">
      <span class="b-expand-trigger md-unfold-less"></span>
      <h1>Filters</h1>
      <section class="b-filter-block">
        <h2>Year</h2>
        <span class="e-filter-tag">2015</span>
        <span class="e-filter-tag">2014</span>
        <span class="e-filter-tag">2013</span>
        <span class="e-filter-tag">2012</span>
        <span class="e-filter-tag">2011</span>
      </section>

      <section class="b-filter-block">
        <h2>Affiliation</h2>
        <span class="e-filter-tag m-active">PSIH</span>
        <span class="e-filter-tag">Doctorate</span>
        <span class="e-filter-tag">Executive Program</span>
      </section>
    </div>
  </div>  

</section>

<section class="b-main-section">
  <div class="row">
  	<div class="column large-12">
  		<div class="b-card">
        <div class="e-card-picture" style="background-image: url(./static/img/{{person.image}})">
          <h1>{{person.name}}</h1>
        </div>
        <div class="e-card-content">
          <p>{{person.tagline}}</p>
        </div>


      </div>

      
  	</div>
  </div>
</section>

{% endfor %}

{% endblock %}
