{% extends "base.html" %}
{% block title %}Profiles{% endblock %}

{% block content %}
    <section class="b-filter-section">
        <div class="row">
            <div class="column large-12">
                <span class="b-exp and-trigger md-unfold-less"></span>

                <h1>Filters</h1>

                <table cellspacing="0">
                    {% if filters.year %}
                        <tr class="b-filter-block">
                            <td>Year</td>

                            <td>
                                {% for year in filters.year %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ year|slugy }}]">{{ year }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.affiliation %}
                        <tr class="b-filter-block">
                            <td>Affiliation</td>

                            <td>
                                {% for affiliation in filters.affiliation %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ affiliation|slugy }}]">{{ affiliation }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.impact_areas %}
                        <tr class="b-filter-block">
                            <td>Impact Areas</td>

                            <td>
                                {% for area in filters.impact_areas %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ area|slugy }}]">{{ area }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.expertise %}
                        <tr class="b-filter-block">
                            <td>Expertise</td>

                            <td>
                                {% for expertise in filters.expertise %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ expertise|slugy }}]">{{ expertise }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.geographic_interest %}
                        <tr class="b-filter-block">
                            <td>Geographic Interest</td>

                            <td>
                                {% for interest in filters.geographic_interest %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ interest|slugy }}]">{{ interest }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </section>

    <section class="b-main-section">
        <div class="row">
            <div class="b-cards-wrapper column large-12 spaceless">
                {% for person in people %}
                    <div class="b-card" data-filters="{{ person.filters }}">
                        <div class="e-card-picture" style="background-image: url(./static/img/{{ person.image }})">
                            <h2>{{ person.name }} {{ person.last }}</h2>
                        </div>

                        <h3>{{ person.affiliation }}</h3>
                        <h4>{{ person.job }}</h4>
                        <p>{{ person.profile }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
