{% extends "base.html" %}
{% block title %}Profiles{% endblock %}

{% block content %}
    <section class="b-filter-section">
        <div class="row">
            <div class="column large-12">
                <span class="b-exp and-trigger md-unfold-less"></span>

                <h1>Filters</h1>

                <table cellspacing="0">
                    {% if filters.year %}
                        <tr class="b-filter-block">
                            <td>Year</td>

                            <td>
                                {% for year in filters.year %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ year|slugy }}]">{{ year }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.affiliation %}
                        <tr class="b-filter-block">
                            <td>Affiliation</td>

                            <td>
                                {% for affiliation in filters.affiliation %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ affiliation|slugy }}]">{{ affiliation }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.impact_areas %}
                        <tr class="b-filter-block">
                            <td>Impact Areas</td>

                            <td>
                                {% for area in filters.impact_areas %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ area|slugy }}]">{{ area }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.expertise %}
                        <tr class="b-filter-block">
                            <td>Expertise</td>

                            <td>
                                {% for expertise in filters.expertise %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ expertise|slugy }}]">{{ expertise }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if filters.geographic_interest %}
                        <tr class="b-filter-block">
                            <td>Geographic Interest</td>

                            <td>
                                {% for interest in filters.geographic_interest %}
                                    <span class="e-filter-tag" data-filter="[data-filters~={{ interest|slugy }}]">{{ interest }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </section>

    <section class="b-main-section">
        <div class="row">
            <div class="b-cards-wrapper column large-12 spaceles">
                {% for person in people %}
                    <div class="b-card" data-filters="{{ person.filters }}">
                        <a href="#" class="e-card-picture" style="background-image: url(./static/img/{{ person.image }})" data-reveal-id="profile-{{ loop.index }}">
                            <h2>{{ person.name }} {{ person.last }}</h2>
                        </a>

                        <h3>{{ person.affiliation }}</h3>
                        <h4>{{ person.job }}</h4>
                        <p>{{ person.profile }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="b-profile-section">
        {% for person in people %}
            <div id="profile-{{ loop.index }}" class="b-profile reveal-modal" data-reveal>{% filter trim %}
                <div class="b-side-bar">
                    {% if person.impact_areas %}
                        <h2 class="m-title">Impact Areas</h2>

                        {% for x in person.impact_areas %}
                            <div class="m-item">{{ x }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if person.expertise %}
                        <h2 class="m-title">Expertise</h2>

                         {% for x in person.expertise %}
                            <div class="m-item">{{ x }}</div>
                         {% endfor %}
                    {% endif %}

                    {% if person.geographic_interest %}
                        <h2 class="m-title">Geographic Interest</h2>

                         {% for x in person.geographic_interest %}
                            <div class="m-item">{{ x }}</div>
                         {% endfor %}
                    {% endif %}
                </div>

                <div class="b-main">
                    <div class="b-left">
                        <img src="./static/img/{{ person.image }}" alt="Profile picture">

                        <p class="m-profile">{{ person.profile }}</p>
                    </div>

                    <div class="b-right">
                        <h2 class="m-name">{{ person.name }} {{ person.last }}</h2>
                        <h3 class="m-job">{{ person.job }}</h3>

                        <div class="b-contact">
                            {% if person.email %}
                                <span class="e-email">{{ person.email }}</span>
                            {% endif %}

                            {% if person.facebook %}
                                <span class="e-facebook">{{ person.facebook }}</span>
                            {% endif %}

                            {% if person.linkedin %}
                                <span class="e-linkedin">{{ person.linkedin }}</span>
                            {% endif %}

                            {% if person.twitter %}
                                <span class="e-twitter">{{ person.twitter }}</span>
                            {% endif %}

                            {% if person.gplus %}
                                <span class="e-gplus">{{ person.gplus }}</span>
                            {% endif %}

                            {% if person.website %}
                                <span class="e-website">{{ person.website }}</span>
                            {% endif %}
                        </div>

                        <p class="m-bio">{{ person.bio }}</p>
                    </div>
                </div>{% endfilter %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
