@charset "UTF-8";
body {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.03);
  overflow-y: scroll; }

.b-top-header {
  top: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  background-color: white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  line-height: 80px;
  box-shadow: 0 1px 5px black;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }
  .b-top-header > a {
    width: 20%;
    display: inline-block;
    margin-left: 5%;
    padding: 0 10px;
    vertical-align: top; }
    .b-top-header > a img {
      max-height: 60px; }
  .b-top-header nav {
    width: 70%;
    display: inline-block;
    padding: 0 10px;
    text-align: right;
    overflow: hidden; }
    .b-top-header nav a {
      display: inline-block;
      padding-left: 9px;
      color: #555;
      font-size: 11px;
      white-space: nowrap;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none; }
      .b-top-header nav a:hover, .b-top-header nav a.selected {
        color: #9d2231; }
      .b-top-header nav a + a::before {
        content: '•';
        margin-right: 14px;
        color: #222; }
  .b-top-header .f-dropdown {
    border-color: #9D2232;
    border-style: solid;
    border-width: 2px 0 0; }
    .b-top-header .f-dropdown.small {
      max-width: 215px; }
    .b-top-header .f-dropdown:before, .b-top-header .f-dropdown:after {
      content: '';
      border: 0;
      display: none; }
    .b-top-header .f-dropdown a {
      height: 32px;
      line-height: 32px;
      min-width: 165px;
      max-width: 215px;
      position: static;
      color: #999999;
      background: #121212;
      background: rgba(18, 18, 18, 0.95);
      margin: 0;
      padding: 0 15px;
      -webkit-transition: 0.2s all linear;
      -moz-transition: 0.2s all linear;
      transition: 0.2s all linear;
      font-size: 10px;
      text-transform: uppercase; }
      .b-top-header .f-dropdown a:hover {
        color: #9D2232; }

.b-content .inner-wrap {
  min-height: 100vh;
  padding-top: 80px; }
  .b-content .inner-wrap .exit-off-canvas {
    background-color: transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35); }
.b-content.move-right .inner-wrap {
  -webkit-transform: translate3d(18rem, 0, 0);
  -moz-transform: translate3d(18rem, 0, 0);
  -ms-transform: translate3d(18rem, 0, 0);
  -o-transform: translate3d(18rem, 0, 0);
  transform: translate3d(18rem, 0, 0); }

.b-offcanvas {
  width: 18rem;
  padding: 80px 20px 20px;
  overflow: hidden;
  background-color: white;
  text-align: right; }
  .b-offcanvas .m-filter-name {
    min-width: 100px;
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #9D2232;
    text-transform: uppercase; }
  .b-offcanvas .b-item + .b-item {
    margin-top: 10px; }
  .b-offcanvas .e-filter-tag {
    display: inline-block;
    padding: 5px 12px 6px;
    border-radius: 2px;
    line-height: 1;
    background-color: #eee;
    color: black;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer; }
    .b-offcanvas .e-filter-tag .fa {
      margin-left: 13px;
      width: 14px;
      opacity: .15; }
    .b-offcanvas .e-filter-tag:hover {
      background-color: #ddd; }
      .b-offcanvas .e-filter-tag:hover .fa {
        opacity: 1; }
    .b-offcanvas .e-filter-tag.m-active {
      background-color: green;
      color: white; }
      .b-offcanvas .e-filter-tag.m-active .fa {
        opacity: .4; }
        .b-offcanvas .e-filter-tag.m-active .fa:before {
          content: "\f00c"; }
      .b-offcanvas .e-filter-tag.m-active:hover .fa {
        opacity: 1; }
      .b-offcanvas .e-filter-tag.m-active:hover .fa:before {
        content: "\f00d"; }

.b-main-section {
  padding: 20px 0 30px; }
  .b-main-section .left-off-canvas-toggle {
    padding: 4px 14px;
    margin: 0;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    color: #9D2232;
    cursor: pointer; }
    .b-main-section .left-off-canvas-toggle:hover {
      background-color: black;
      background-color: rgba(0, 0, 0, 0.3); }
    .b-main-section .left-off-canvas-toggle.m-active {
      background-color: #9D2232;
      color: white; }

.b-cards-wrapper {
  padding: 20px 0 0;
  font-size: 0; }
  .b-cards-wrapper > * {
    font-size: 100%; }

.b-card {
  width: 23.6%;
  display: inline-block;
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0 13px 20px 0;
  background-color: white;
  vertical-align: top;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
  .b-card h3 {
    margin: 10px 20px;
    color: #222;
    font-size: 1rem; }
  .b-card h4 {
    margin: 10px 20px;
    color: #444;
    font-size: 0.8rem;
    font-style: italic; }
  .b-card p {
    margin: 10px 20px;
    line-height: 1.4;
    font-size: 0.8rem;
    color: #777; }
  .b-card .e-card-picture {
    display: block;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    padding-bottom: 60%;
    position: relative; }
    .b-card .e-card-picture h2 {
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      font-size: 1.2rem;
      color: white;
      padding: 10px 20px 5px;
      line-height: 1;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.3);
      /* fallback */
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.4)));
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
      /* Safari 5.1, Chrome 10+ */
      background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
      /* Firefox 3.6+ */
      background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
      /* IE 10 */
      background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
      /* Opera 11.10+ */ }

.b-profile-section {
  display: none; }

.b-profile.reveal-modal {
  padding: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  left: -20px;
  right: -10px; }
.b-profile .b-side-bar {
  display: inline-block;
  width: 23%;
  margin: 20px -5px 0 0;
  padding: 0 20px 20px 10px;
  border: 1px solid #bbb;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: right;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
  .b-profile .b-side-bar .m-title {
    margin: 20px 0 10px;
    color: #9D2232;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
  .b-profile .b-side-bar .m-item {
    font-size: 14px;
    color: #333; }
.b-profile .b-main {
  position: relative;
  display: inline-block;
  width: 76.5%;
  border: 1px solid #bbb;
  vertical-align: top;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35); }
  .b-profile .b-main .b-left {
    width: 49.5%;
    position: relative;
    display: inline-block;
    padding: 0 10px 20px 0;
    vertical-align: top; }
    .b-profile .b-main .b-left .e-profile-picture {
      width: 365px;
      height: 365px;
      background-size: cover;
      background-position: center center; }
    .b-profile .b-main .b-left .e-open-quotes {
      position: absolute;
      margin-top: 10px;
      left: 15px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .b-profile .b-main .b-left .e-close-quotes {
      position: absolute;
      right: 0;
      margin-top: -25px; }
    .b-profile .b-main .b-left .m-profile {
      position: relative;
      z-index: 2;
      margin: 20px 0 0 30px;
      color: #949494;
      font-size: 22px;
      line-height: 1.4;
      font-weight: 300; }
  .b-profile .b-main .b-right {
    width: 49.5%;
    display: inline-block;
    padding: 20px;
    vertical-align: top; }
    .b-profile .b-main .b-right .m-name {
      color: #c90000;
      font-weight: 300; }
    .b-profile .b-main .b-right .m-role {
      color: #949494;
      font-weight: 300;
      font-size: 18px; }
    .b-profile .b-main .b-right .m-bio {
      color: #949494; }
    .b-profile .b-main .b-right .e-contact-icon {
      display: inline-block;
      margin: 7px 7px 15px 0;
      width: 44px;
      height: 44px;
      line-height: 44px;
      border-radius: 50%;
      color: white;
      text-align: center;
      background-color: #c90000; }
      .b-profile .b-main .b-right .e-contact-icon .fa {
        font-size: 1.3rem;
        text-rendering: optimizeLegibility; }
      .b-profile .b-main .b-right .e-contact-icon .fa-envelope {
        font-size: 1.2rem; }

.reveal-modal-bg {
  background-color: rgba(255, 255, 255, 0.7); }

/*# sourceMappingURL=styles.css.map */
